*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
form{
    text-align: center;
}
.container{
    text-align:center;
    max-width: 600px;
    max-height: 945px;
    margin: 0 auto;
}
.repoView{
    max-width: 600px;
    max-height: 500px;
    margin-top: 20px;
    border-image-repeat: none;
    direction:flex;
    flex-direction: column;
}
img{
margin-top:40px;
}
.hidden{
    
    display:none;
}